<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sym.service.TeacherMapper">
<insert id="insertMany" parameterType="list">
	insert into teachers
	( name, email, password, sub_num, profile_img )
	values 
	 <foreach item="i" collection="list" separator=",">
        ( #{i.name}, #{i.email}, #{i.password}, #{i.subNum}, #{i.profileImg} )
  	</foreach>
</insert>
<insert id="insert" parameterType="com.example.demo.sym.service.Teacher">
	insert into managers (email, password, name, profile_img)
	values (#{email}, #{password}, #{name}, #{profileImg})
</insert>
<select id="access" resultType="com.example.demo.sym.service.Teacher"
				   parameterType="com.example.demo.sym.service.Teacher">
    select tea_num teaNum, name, email, password, sub_num subNum, profile_img profileImg
    from teachers 
    where email like #{email} and password like #{password}
</select>
</mapper>