<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sym.service.TeacherMapper">
<insert id="insertMany" parameterType="list">
	insert into teachers
	( name, email, password, sub_num, profile_img )
	values 
	 <foreach item="i" collection="list" separator=",">
        ( #{i.name}, #{i.email}, #{i.password}, #{i.subNum}, #{i.profileImg} )
  	</foreach>
</insert>
</mapper>